.item {
    scroll-snap-align: center;
}

.item-list {
    max-width: 150px;
    width: 100vw;
    display: flex;
    scroll-behavior:  smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

img {
    width: 100px;
}

input {
    position: relative;
    top: 5px;
    margin-top: 5px;
}

.emotion {
    display: inline-block; 
    width: 300px;
    height: 200px;
}

.container {
    display: inline-block;
    width: 300px;
    height: 200px;
}